body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  
  #app {
    height: 100%; 

    & > div {
      height: 100%;
      display: flex;
    }
  }
}

.center {
  text-align: center;
}

.gallery {
  position: fixed;
  top: 250px;
  margin-top: 50px;
  width: 100%;
}

.col-pad {
  margin-left: 20px;
  margin-right: 20px;
}






